body{
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

header{text-align:center;padding:30px;}
.logo{width:280px;}

.card{
max-width:800px;
margin:auto;
padding:20px;
background:rgba(255,255,255,0.05);
border-radius:20px;
}

input,select,textarea{
width:100%;
padding:10px;
margin:5px 0;
border:none;
border-radius:10px;
background:#020617;
color:white;
}

textarea{height:120px;}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
cursor:pointer;
}

.generate{background:orange;}
.copy{background:#334155;}
.reset{background:#1e293b;}

.suggestions{
background:#020617;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

#historique{
margin-top:10px;
font-size:12px;
opacity:0.8;
}
