
body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

.navbar{
background:#020617;
padding:15px;
border-bottom:1px solid #1e293b;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1100px;
margin:auto;
}

.brand{
display:flex;
align-items:center;
gap:10px;
}

.logo{
height:40px;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
color:#94a3b8;
}

.hero{
text-align:center;
padding:60px;
}

.generator{
max-width:700px;
margin:auto;
padding:20px;
}

select,textarea{
width:100%;
padding:10px;
margin:10px 0;
background:#020617;
color:white;
border:none;
border-radius:6px;
}

button{
padding:12px 20px;
background:#7c3aed;
color:white;
border:none;
border-radius:6px;
margin-top:10px;
cursor:pointer;
}

pre{
background:#020617;
padding:20px;
border-radius:6px;
margin-top:20px;
white-space:pre-wrap;
}

footer{
margin-top:60px;
padding:30px;
background:#020617;
text-align:center;
}

.footer-logos{
display:flex;
justify-content:center;
align-items:center;
gap:40px;
flex-wrap:wrap;
margin-bottom:20px;
}

.footer-logos img{
height:70px;
background:white;
padding:6px;
border-radius:6px;
}
